doctype 5
html
  head
    title= 'Tugas Cloudcomputing'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrapper
      #header
        h1= 'Workshop Cloudcomputing'
    #content
      #box-nama.box
        table(border="0")
          tr
            td Nama
            td
              | :
              | Cahya Sakti Wibowo
          tr
            td NIM
            td
              | :
              | 105410355

      a(href="/crud")
        | Click
        | disini
        | untuk
        | memulai